@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #07beda;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* aumentar el valor de z-index */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 20; /* aumentar el valor de z-index */
  
}

.nav-branding {
  font-size: 2rem;
}
.nav-link {
  transition: 0.7s ease;
  color: white;
}
.nav-link:hover {
  color: rgb(115, 8, 182);
}

.hamburguer {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
@media (max-width: 768px) {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  /* Estilos para el carrusel de imágenes */
  #default-carousel {
    margin-top: 70px; /* Altura de la NavBar */
  }

  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 149px;
    gap: 0;
    flex-direction: column;
    background-color: #07beda;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
